Package: com.appknox.proxy
Name: appknox_proxy
Depends:
Version: 0.0.4
Architecture: iphoneos-arm
Description: Update iOS System Proxy
Maintainer: Appknox <engineering@appknox.com>
Author: Appknox <engineering@appknox.com>
Section: System
Tag: purpose::console, role::hacker
